@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media only screen and (max-width: 767px){
  .nav {
      display: block;
      padding: 30px 20px 48px 20px;
      background: #1f2024;
      margin: 0 30px;
      clear: both;
  }

}
